h1 {
  color:blue;
  text-align: center;
}
img {
  float:center;
}
h2 {
  font-style: italic;
}
h1 {
  color: blue;
  text-align: center;
}
h2 {
  font-style: italic;
  text-align: center;
  color: teal;
}
p {
  color: black;
}
body {
  background-color: white;
}
img {
  float:right;
}
