h1 {
  color:blue;
  text-align: center;
}
img {
  float:left;
}
h2 {
  font-style: italic;
}
h1 {
  color: blue;
  text-align: center;
}
h2 {
  font-style: italic;
  text-align: left;
  color: teal;
}
p {
  color: black;
}
body {
  background-color: white;
}
img {
  float:right;
}
ul {
  text-align: justify;
}
ul {
  font-style: oblique;
}
img {
  float: left;
h2 {
  text-align: right;
}
